h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg');
    text-align: center;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
.frames{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
.paint{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.strong-blue{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: blue;
}